<!DOCTYPE html>
<html class="no-js" lang="en">
 <title>
  Mockten
 </title>
 <!-- Head -->
 {{template "head"}}
 <!-- End Head -->
 <body id="js-home">
  <!-- Header -->
  <header role="header">
   <!-- Navbar -->
   <nav class="js-navbar-scroll navbar navbar-expand-lg navbar-transparent navbar-dark" style="background-color:#100414;">
    <div class="container-fluid">
     <a class="navbar-brand" href="/home">
      <img alt="Stream UI Kit" src="assets/img/logo-white.png" style="width: 100px;"/>
     </a>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo">
      <form action="./search" class="form-inline col-lg mr-auto my-2 my-lg-0" method="POST">
       <input class="form-control w-75 mr-sm-2" name="item" placeholder="Search" type="search"/>
       <button class="btn btn-primary my-2 my-sm-0" type="submit">
        Search
       </button>
      </form>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="/ranking?page=1&amp;category=99">
         <em class="fas fa-trophy u-font-size-90 mr-1">
         </em>
         Ranking
        </a>
       </li>
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="{{.AuthPath}}" onclick="removeSession()">
         <em class="fas fa-sign-in-alt u-font-size-90 mr-1">
         </em>
         {{.AuthKind}}
        </a>
       </li>
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="/watchlist?page=1">
         <em class="fas fa-heart u-font-size-90 mr-1">
         </em>
         Watchlist
        </a>
       </li>
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" data-toggle="modal" href="" onclick="sendOpinion()">
         <em class="fas fa-comment-dots u-font-size-90 mr-1">
         </em>
         Opinion
        </a>
       </li>
      </ul>
      <div>
       <a class="btn btn-primary" data-toggle="modal" href="" onclick="downloadApp()">
        <em class="fas fa-cloud-download-alt mr-1">
        </em>
        Mobile App
       </a>
      </div>
     </div>
    </div>
   </nav>
   <!-- End Navbar -->
   <!-- Promo Block -->
   <section class="u-promo-block" style="background-image: url(assets/img-temp/promo/img1.jpg);">
    <!-- Promo Content -->
    {{template "category"}}
    <div class="col-xl-10 col-lg-10 col-md-10">
     <div class="card-group mb-2">
      <div class="card" style="width: 12rem">
       <img class="card-img-top" src="assets/img/go-portforio-apl-file/img1_sales.jpg"/>
       <div class="card-body" style="color:#59287a;">
        <h5 class="card-title">
         PC
        </h5>
        <p>
         The highest spec for anything you want
        </p>
        <table class="table table-bordered">
         <tr>
          <td>
           Before
          </td>
          <td>
           <s>
            3800KY
           </s>
          </td>
         </tr>
         <tr>
          <td>
           After
          </td>
          <td>
           2900KY
           <strong style="color:#fb4143;">
            (24%OFF)
           </strong>
          </td>
         </tr>
        </table>
        <a class="btn btn-primary" href="#" onclick="confirmPurchase()">
         Buy
        </a>
       </div>
      </div>
      <div class="card" style="width: 12rem">
       <img class="card-img-top" src="assets/img/go-portforio-apl-file/img2_sales.jpg"/>
       <div class="card-body" style="color:#59287a;">
        <h5 class="card-title">
         Perfume
        </h5>
        <p>
         This adorably packaged fragrance is fresh
        </p>
        <table class="table table-bordered">
         <tr>
          <td>
           Before
          </td>
          <td>
           <s>
            2250KY
           </s>
          </td>
         </tr>
         <tr>
          <td>
           After
          </td>
          <td>
           1300KY
           <strong style="color:#fb4143;">
            (42%OFF)
           </strong>
          </td>
         </tr>
        </table>
        <a class="btn btn-primary" href="#" onclick="confirmPurchase()">
         Buy
        </a>
       </div>
      </div>
      <div class="card" style="width: 12rem">
       <img class="card-img-top" src="assets/img/go-portforio-apl-file/img3_sales.jpg"/>
       <div class="card-body" style="color:#59287a;">
        <h5 class="card-title">
         Tennis Ball
        </h5>
        <p>
         3 pioneer tennis balls designed for medium players
        </p>
        <table class="table table-bordered">
         <tr>
          <td>
           Before
          </td>
          <td>
           <s>
            200KY
           </s>
          </td>
         </tr>
         <tr>
          <td>
           After
          </td>
          <td>
           53KY
           <strong style="color:#fb4143;">
            (74%OFF)
           </strong>
          </td>
         </tr>
        </table>
        <a class="btn btn-primary" href="#" onclick="confirmPurchase()">
         Buy
        </a>
       </div>
      </div>
     </div>
     <div class="row justify-content-between align-items-center mb-4">
      <div class="col-lg">
       <nav aria-label="Bootstrap Pagination Example">
        <ul class="pagination mb-0">
         <li class="page-item">
          <a class="page-link" href="#">
           <span class="mr-1 d-none d-sm-inline-block">
            ←
           </span>
           Previous
          </a>
         </li>
         <li class="page-item active">
          <a class="page-link" href="#">
           1
          </a>
         </li>
         <li class="page-item">
          <a class="page-link" href="#">
           2
          </a>
         </li>
         <li class="page-item">
          <a class="page-link" href="#">
           3
          </a>
         </li>
         <li class="page-item">
          <a class="page-link" href="#">
           4
          </a>
         </li>
         <li class="page-item">
          <a class="page-link" href="#">
           5
          </a>
         </li>
         <li class="page-item">
          <a class="page-link" href="#">
           Next
           <span class="ml-1 d-none d-sm-inline-block">
            →
           </span>
          </a>
         </li>
        </ul>
       </nav>
      </div>
      <div class="col-lg text-lg-right mt-1 mt-lg-0">
       <span class="u-font-size-90 text-muted">
        Page 1 of 5
       </span>
      </div>
     </div>
     <!-- End Pagination -->
     <!-- Pagination Large -->
     <div class="row justify-content-between align-items-center mb-4 d-none">
      <div class="col-lg-8">
       <nav aria-label="Bootstrap Pagination Example">
        <ul class="pagination pagination-lg mb-0">
         <li class="page-item">
          <a class="page-link" href="#">
           <span class="mr-1">
            ←
           </span>
           Previous
          </a>
         </li>
         <li class="page-item active d-none d-lg-block">
          <a class="page-link" href="#">
           1
          </a>
         </li>
         <li class="page-item d-none d-lg-block">
          <a class="page-link" href="#">
           2
          </a>
         </li>
         <li class="page-item d-none d-lg-block">
          <a class="page-link" href="#">
           3
          </a>
         </li>
         <li class="page-item d-none d-lg-block">
          <a class="page-link" href="#">
           4
          </a>
         </li>
         <li class="page-item d-none d-lg-block">
          <a class="page-link" href="#">
           5
          </a>
         </li>
         <li class="page-item">
          <a class="page-link" href="#">
           Next
           <span class="ml-1">
            →
           </span>
          </a>
         </li>
        </ul>
       </nav>
      </div>
      <div class="col-lg text-lg-right mt-2 mt-lg-0">
       <span class="text-muted">
        Page 1 of 5
       </span>
      </div>
     </div>
     <!-- End Pagination Large -->
    </div>
   </section>
  </header>
  <!-- End Header -->
  <!-- End Promo Content -->
  {{template "feedback"}}
  {{template "common-script"}}        
    {{template "confirm-script"}}
  <!-- End Promo Block -->
 </body>
 <!-- End Body -->
</html>
