<!DOCTYPE html>
<html class="no-js" lang="en">
 <!-- Head -->
 {{template "head"}}
 <!-- End Head -->
 <body id="js-home">
  <!-- Header -->
  <header role="header">
   <!-- Navbar -->
   <nav class="js-navbar-scroll navbar navbar-expand-lg navbar-transparent navbar-dark" style="background-color:#100414;">
    <div class="container-fluid">
     <a class="navbar-brand" href="/home">
      <img alt="Stream UI Kit" src="assets/img/logo-white.png" style="width: 100px;"/>
     </a>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo">
<form action="./search" class="form-inline col-lg mr-auto my-2 my-lg-0" method="POST">
    <div class="col-7 col-sm-6 col-md-8 col-lg-9 p-0">
        <input class="form-control w-100 mr-sm-2" name="item" placeholder="Search" type="search"/>
    </div>
    <div class="col-5 col-sm-6 col-md-4 col-lg-3 p-0">
        <button class="btn btn-primary w-100 my-2 my-sm-0" type="submit" style="min-width: 80px;">
        Search
        </button>
    </div>
</form>

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="/ranking?page=1&amp;category=99">
         <em class="fas fa-trophy u-font-size-90 mr-1">
         </em>
         Ranking
        </a>
       </li>
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="{{.AuthPath}}" onclick="removeSession()">
         <em class="fas fa-sign-in-alt u-font-size-90 mr-1">
         </em>
         {{.AuthKind}}
        </a>
       </li>
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="/watchlist?page=1">
         <em class="fas fa-heart u-font-size-90 mr-1">
         </em>
         Watchlist
        </a>
       </li>
       <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" data-toggle="modal" href="" onclick="sendOpinion()">
         <em class="fas fa-comment-dots u-font-size-90 mr-1">
         </em>
         Opinion
        </a>
       </li>
      </ul>
     </div>
    </div>
   </nav>
   <!-- End Navbar -->
   <!-- Promo Block -->
   <section class="u-promo-block" style="background-image: url(assets/img-temp/promo/img1.jpg);">
    <!-- Promo Content -->
    <div class="container text-white" style="background-color:#100414; margin-left: 2px;padding-left: 2px; margin-top:-100px; margin-bottom: 10px; font-size: 1.15vw;">
     <nav class="nav">
      <a class="nav-link disabled">
       <strong>
        Category
       </strong>
      </a>
      <script>
       var category_num = {{.Category}};
              if( category_num === 99){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=99&filter=' + {{.Filter}} + '" style ="color:#e71442">All</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=99&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">All</a>')
              }
              if( category_num === 1){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=1&filter=' + {{.Filter}} + '" style ="color:#e71442">Art</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=1&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Art</a>')
              }
              if( category_num === 2){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=2&filter=' + {{.Filter}} + '" style ="color:#e71442">Book</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=2&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Book</a>')
              }
              if( category_num === 3){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=3&filter=' + {{.Filter}} + '" style ="color:#e71442">Electronics</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=3&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Electronics</a>')
              }
              if( category_num === 4){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=4&filter=' + {{.Filter}} + '" style ="color:#e71442">Fashion</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=4&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Fashion</a>')
              }
              if( category_num === 5){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=5&filter=' + {{.Filter}} + '" style ="color:#e71442">Health</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=5&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Health</a>')
              }
              if( category_num === 6){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=6&filter=' + {{.Filter}} + '" style ="color:#e71442">Movies</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=6&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Movies</a>')
              }
              if( category_num === 7){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=7&filter=' + {{.Filter}} + '" style ="color:#e71442">Music</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=7&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Music</a>')
              }
              if( category_num === 8){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=8&filter=' + {{.Filter}} + '" style ="color:#e71442">Sports</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=8&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Sports</a>')
              }
              if( category_num === 9){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=9&filter=' + {{.Filter}} + '" style ="color:#e71442">Toy</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=9&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Toy</a>')
              }
              if( category_num === 98){
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=98&filter=' + {{.Filter}} + '" style ="color:#e71442">Others</a>')
              }else{
                document.write('<a class="nav-link active" href="?name=' +{{.ProductName}} + '&page=' + {{.Page}} + '&category=98&filter=' + {{.Filter}} + '" style ="color:#e6e7e9">Others</a>')
              }
      </script>
      <div class="btn-group dropright">
       <button aria-expanded="false" aria-haspopup="true" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown" style="background-color:#9e55ce;color:white;" type="button">
        Sort by
       </button>
       <div class="dropdown-menu" style="position: absolute; transform: translate3d(111px, 0px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="right-start">
        <a class="dropdown-item" href="?name={{.ProductName}}&amp;page={{.Page}}&amp;category={{.Category}}&amp;filter=1">
         Price: Low to High
        </a>
        <a class="dropdown-item" href="?name={{.ProductName}}&amp;page={{.Page}}&amp;category={{.Category}}&amp;filter=2">
         Price: High to Low
        </a>
        <a class="dropdown-item" href="?name={{.ProductName}}&amp;page={{.Page}}&amp;category={{.Category}}&amp;filter=3">
         Avg. Customer Review
        </a>
        <a class="dropdown-item" href="?name={{.ProductName}}&amp;page={{.Page}}&amp;category={{.Category}}&amp;filter=4">
         Newest Arrivals
        </a>
        <a class="dropdown-item disabled" href="?name={{.ProductName}}&amp;page={{.Page}}&amp;category={{.Category}}&amp;filter=5" style="pointer-events: none;">
         Featured
        </a>
       </div>
      </div>
     </nav>
    </div>
    <div class="col-12" style="text-align:center;">
     <script>
      var filter_num = {{.Filter}};
            var filter_name;
            if(filter_num === 1){
              filter_name="Price: Low to High";
            }
            if(filter_num === 2){
              filter_name="Price: High to Low";
            }
            if(filter_num === 3){
              filter_name="Avg. Customer Review";
            }
            if(filter_num === 4){
              filter_name="Newest Arrivals";
            }
            if(filter_num === 5){
              filter_name="Featured";
            }
            document.write('<p class="text-left"><font color="white">'+{{.startNum}}+'-'+{{.endNum}}+ ' of ' + {{.TotalNum}} + ' results for <strong>' +{{.ProductName}} +'</strong> (' + filter_name + ')</font></p>');
     </script>
     <div class="row" style="margin-bottom: 10px; margin-right: 10px; margin-left: 10px;">
      {{range .Product}}
      <div class="card col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" style="width: 12rem; margin-bottom: 10px;">
       <img alt="product" class="card-img-top" src="{{.ImageURL}}" style="margin-top: 10px;"/>
       <div class="card-body" style="color:#59287a;">
        <h5 class="card-title">
         <a class="link-muted d-block text-center" data-placement="top" data-toggle="tooltip" href="#!" title="{{.Comment}}">
          <div style="font-size: 1.5vw;">
           {{.Name}}
          </div>
         </a>
        </h5>
        <table class="table table-bordered" style="font-size: 1vw;">
         <tr>
          <td>
           Price
          </td>
          <td>
           {{.Price}}KY
          </td>
         </tr>
         <tr>
          <td>
           Stock
          </td>
          <td>
           {{.Stocks}}
          </td>
         </tr>
        </table>
        <a class="btn btn-primary" data-backdrop="true" data-target="#ConfirmModal" data-toggle="modal" href="#" id="purchase" onclick="insertProductInfo({{.Name}},{{.ImageURL}},{{.Price}},{{.ID}},{{.Stocks}},{{.Category}})" style="font-size: 0.9vw;">
         <em class="fas fa-cart-plus">
         </em>
         <div style="font-size: 0.7vw;">
          Buy
         </div>
        </a>
        <a class="btn btn-primary" href="javascript:void(0)" onclick="addWatchlist({{.ID}},{{.Name}},{{.ImageURL}},{{.Price}});return false;" style="font-size: 0.9vw;">
         <em class="fas fa-heart">
         </em>
         <div style="font-size: 0.7vw;">
          Watch
         </div>
        </a>
       </div>
      </div>
      {{end}}
      <div aria-hidden="true" aria-labelledby="ConfirmModalTitle" class="modal fade" id="ConfirmModal" role="dialog" tabindex="-1">
       <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" height="45%" style="shadow-lg;background-color: rgb(243, 231, 217);" width="60%">
         <div class="modal-header">
          <h5 class="modal-title" id="ConfirmModalTitle">
           Payment Methods
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
           <span aria-hidden="true">
            ×
           </span>
          </button>
         </div>
         <form action="/payreqest" method="POST" role="form" style="margin-top: 10px;">
          <div class="modal-body">
           <div align="center">
            Your item is
            <strong id="serachitemname">
            </strong>
            !
           </div>
           <div align="center">
            <img alt="item url" height="45%" id="serachitemurl" style="margin-top: 10px;" width="60%"/>
           </div>
           <strong style="margin: 10px;">
            Pay with
           </strong>
           <div class="form-check form-check-inline">
            <input checked="" class="form-check-input" name="marker" onclick="formSwitch()" type="radio" value="Stripe"/>
            <label class="form-check-label">
             <em class="fab fa-cc-stripe">
             </em>
             Stripe
            </label>
           </div>
           <div class="form-check form-check-inline">
            <input checked="" class="form-check-input" name="marker" onclick="formSwitch()" type="radio" value="DirectDebit"/>
            <label class="form-check-label">
             <em class="far fa-credit-card">
             </em>
             DirectDebit
            </label>
           </div>
           <div class="card-body" id="StripeList">
            <div class="row">
             <div class="col-sm-12">
              <div class="form-group">
               <label for="name">
                E-Mail Address
               </label>
               <input class="form-control" id="searchitem-email" name="address" placeholder="Enter your e-mail address" type="email"/>
              </div>
             </div>
            </div>
            <div class="row">
             <div class="col-sm-12">
              <div class="form-group">
               <label for="name">
                Name
               </label>
               <input class="form-control" id="searchitem-name" name="name" placeholder="Enter your name" type="text"/>
              </div>
             </div>
            </div>
            <div class="row">
             <div class="col-sm-12">
              <div class="form-group">
               <label for="ccnumber">
                Credit Card Number
               </label>
               <div class="input-group">
                <input class="form-control" id="searchitem-cardnum" name="cardnum" placeholder="0000 0000 0000 0000" type="text"/>
                <div class="input-group-append">
                 <span class="input-group-text">
                  <em class="mdi mdi-credit-card">
                  </em>
                 </span>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="row">
             <div class="form-group col-sm-4">
              <label for="searchccmonth">
               Month
              </label>
              <select class="form-control" id="searchccmonth" name="month">
               <option>
                1
               </option>
               <option>
                2
               </option>
               <option>
                3
               </option>
               <option>
                4
               </option>
               <option>
                5
               </option>
               <option>
                6
               </option>
               <option>
                7
               </option>
               <option>
                8
               </option>
               <option>
                9
               </option>
               <option>
                10
               </option>
               <option>
                11
               </option>
               <option>
                12
               </option>
              </select>
             </div>
             <div class="form-group col-sm-4">
              <label for="searchccyear">
               Year
              </label>
              <select class="form-control" id="searchccyear" name="year">
               <script>
                var year = new Date().getFullYear();
                                  var start_yaer = Number(year)
                                  for (let i = 0; i <= 10; i++) {
                                    var target_year = start_yaer + i
                                    document.write( '<option>' + target_year + '</option>' );
                                  }
               </script>
              </select>
             </div>
             <div class="col-sm-4">
              <div class="form-group">
               <label for="cvv">
                CVV/CVC
               </label>
               <input class="form-control" id="cvv" name="cvc" placeholder="123" type="text"/>
              </div>
             </div>
             <div class="form-group col-sm-4">
              <label for="searchitem-ccquantity">
               Quantity
              </label>
              <select class="form-control" id="searchitem-ccquantity" name="quantity" onchange="caclAmount()">
               <option>
                1
               </option>
               <option>
                2
               </option>
               <option>
                3
               </option>
               <option>
                4
               </option>
               <option>
                5
               </option>
              </select>
             </div>
             <fieldset disabled="">
              <div class="form-group">
               <label for="disabledTextInput">
                Total
               </label>
               <input class="form-control" data-total="" id="searchItemAmount" name="total" placeholder="" type="text"/>
              </div>
             </fieldset>
            </div>
           </div>
           <div class="card-body" id="DirectDebitList">
            <div class="row">
             <div class="col-sm-12">
              <div class="form-group">
               <label for="name">
                User-ID
               </label>
               <input class="form-control" id="searchitem-userid" name="userid" placeholder="Enter your user-id" type="text"/>
              </div>
             </div>
             <div class="col-sm-12">
              <div class="form-group">
               <label for="name">
                Password
               </label>
               <input class="form-control" id="searchitem-password" name="password" placeholder="Enter your password" type="text"/>
              </div>
             </div>
             <div class="form-group col-sm-4" data-stock="" id="searchitem-stock">
              <label for="searchitem-ccquantityDebit">
               Quantity
              </label>
              <select class="form-control" id="searchitem-ccquantityDebit" name="quantity" onchange="caclAmountDebit()">
               <option>
                1
               </option>
               <option>
                2
               </option>
               <option>
                3
               </option>
               <option>
                4
               </option>
               <option>
                5
               </option>
              </select>
             </div>
             <fieldset disabled="">
              <div class="form-group">
               <label for="disabledTextInput">
                Total
               </label>
               <input class="form-control" data-total="" id="searchItemAmountDebit" placeholder="" type="text"/>
              </div>
             </fieldset>
             <input id="searchitemproductid" name="productid" type="hidden"/>
             <input id="searchitemproductname" name="productname" type="hidden"/>
             <input id="searchitemprice" name="price" type="hidden"/>
             <input id="searchdealstock" name="dealstock" type="hidden"/>
             <input id="itemurl" name="itemurl" type="hidden"/>
             <input id="itemcategory" name="itemcategory" type="hidden"/>
            </div>
           </div>
          </div>
          <div class="modal-footer">
           <button class="btn btn-secondary" data-dismiss="modal" type="button">
            Close
           </button>
           <button class="btn btn-primary" id="buy" type="submit">
            Buy
           </button>
          </div>
         </form>
        </div>
       </div>
      </div>
     </div>
     <div class="row justify-content-between align-items-center">
      <div class="col-lg">
       <nav aria-label="Bootstrap Pagination Example">
        <ul class="pagination mb-6 justify-content-end">
         <script>
          var product_name  = {{.ProductName}}
                    var current_page  = {{.Page}};
                    var previous_page = current_page-1;
                    var next_page     = current_page+1;
                    var total_num     = {{.TotalNum}};
                    var category      = {{.Category}};
                    var filter        = {{.Filter}};
                    var total_page    = parseInt( total_num/10 ) + 1;
                    if ( total_num >0 && current_page<= total_page && current_page > 0 ) {
                      if( current_page < 2){
                        document.write( '<li class="page-item disabled" ><a class="page-link" href="#"><span class="mr-1 d-none d-sm-inline-block">&larr;</span> Previous</a></li>' )
                      }else{
                        document.write( '<li class="page-item "><a class="page-link" href="?name=' + product_name + '&page=' + previous_page + '&category=' + category + '&filter=' + filter +'"><span class="mr-1 d-none d-sm-inline-block">&larr;</span> Previous</a></li>' )
                      }
                      if( current_page <=4 ){
                        var visible_page 
                        if( total_num <= 10 ){
                          visible_page = 1
                        }else if(total_num<=20){
                          visible_page = 2
                        }else if(total_num<=30){
                          visible_page = 3
                        }else{
                          visible_page = 4
                        }
                        for( var i = 1 ; i <= visible_page ; i++ ){
                          if( i ===current_page ){
                            document.write( '<li class="page-item active"><a class="page-link" href="?name=' + product_name + '&page=' + i + '&category=' + category + '&filter=' + filter +'">' + i +'</a></li>' )
                          }else{
                            document.write( '<li class="page-item"><a class="page-link" href="?name=' + product_name + '&page=' + i + '&category=' + category + '&filter=' + filter + '">' + i +'</a></li>' )
                          }  
                        }
                        if( total_page > 4 ){
                          document.write( '<li class="page-item"><a class="page-link" href="?name=' + product_name + '&page=' + 5 + '&category=' + category + '&filter=' + filter + '">' + 5 +'</a></li>' )
                          document.write( '<li class="page-item disabled"><div class="page-link">･･･</a></li>' ) 
                          document.write( '<li class="page-item"><a class="page-link" href="?name=' + product_name + '&page=' + total_page + '&category=' + category + '&filter=' + filter + '">' + total_page +'</a></li>' )
                        } 
                      }
                      else{
                        document.write( '<li class="page-item"><a class="page-link" href="?name=' + product_name + '&page=' + 1 + '&category=' + category + '&filter=' + filter + '">' + 1 +'</a></li>' )
                        document.write( '<li class="page-item disabled"><div class="page-link">･･･</a></li>' ) 
                        if( current_page + 3 < total_page ){
                          for( var i = current_page ; i <= current_page+2 ; i++ ){
                            if( i === current_page ){
                              document.write( '<li class="page-item active"><a class="page-link" href="?name=' + product_name + '&page=' + i + '&category=' + category + '&filter=' + filter + '">' + i +'</a></li>' )
                            }else{
                              document.write( '<li class="page-item"><a class="page-link" href="?name=' + product_name + '&page=' + i + '&category=' + category + '&filter=' + filter + '">' + i +'</a></li>' )
                            }
                          }
                          document.write( '<li class="page-item disabled"><div class="page-link">･･･</a></li>' ) 
                          document.write( '<li class="page-item"><a class="page-link" href="?name=' + product_name + '&page=' + total_page + '&category=' + category + '&filter=' + filter + '">' + total_page +'</a></li>' )
                        }
                        else{
                          if( current_page + 3 === total_page ){
                            document.write( '<li class="page-item active"><a class="page-link" href="?name=' + product_name + '&page=' + current_page + '&category=' + category + '&filter=' + filter + '">' + current_page +'</a></li>' )
                          }
                          for( var i = total_page-2 ; i <= total_page ; i++ ){
                            if( i ===current_page ){
                              document.write( '<li class="page-item active"><a class="page-link" href="?name=' + product_name + '&page=' + i + '&category=' + category + '&filter=' + filter + '">' + i +'</a></li>' )
                            }else{
                              document.write( '<li class="page-item"><a class="page-link" href="?name=' + product_name + '&page=' + i + '&category=' + category + '&filter=' + filter + '">' + i +'</a></li>' )
                            }
                          }
                        }
                      }
                      if( current_page === total_page){  
                        document.write( '<li class="page-item disabled " ><a class="page-link" href="#">Next<span class="ml-1 d-none d-sm-inline-block">&rarr;</span></a></li>' )
                      }else{
                        document.write( '<li class="page-item "><a class="page-link" href="?name=' + product_name + '&page=' + next_page + '&category=' + category + '&filter=' + filter + '">Next<span class="ml-1 d-none d-sm-inline-block">&rarr;</span></a></li>' )
                      }
                    }
         </script>
        </ul>
       </nav>
      </div>
     </div>
    </div>
   </section>
  </header>
  <!-- End Header -->
  <!-- End Promo Content -->
  {{template "feedback"}}
  {{template "common-script"}} 
    {{template "formswitch-script"}}
  <script>
   function insertProductInfo(name,url,value,id,stock,category) {
        document.getElementById("serachitemname").innerHTML = name;
        document.getElementById("serachitemurl").src = url;
        document.getElementById('searchItemAmount').total = value;
        document.getElementById('searchItemAmount').placeholder = value + 'KY';
        document.getElementById('searchItemAmountDebit').total = value;
        document.getElementById('searchItemAmountDebit').placeholder = value + 'KY';
        document.getElementById('searchitemprice').value = value;
        document.getElementById('searchitemproductid').value = id;
        document.getElementById('searchdealstock').value = stock;
        document.getElementById('searchitem-stock').stock = stock;
        document.getElementById('searchitemproductname').value = name;
        document.getElementById('itemurl').value = url;
        document.getElementById('itemcategory').value = category;
      };
  </script>
 </body>
 <!-- End Body -->
</html>
